{% extends 'template.html.twig' %}

{% block body %}
    <div class="alert/alert-success">

{{ person.firstname  }} {{ person.name }} is {{ person.age }}
{% if app.user %}
        <p>Created By: {{ app.user.email }}</p>
        {% endif %}
    </div>


{% endblock %}

{% block title %}

{% endblock %}

